<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>chart-element</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <style>
    .chart {
      width: 100vw;
      height: 100vh;
    }
  </style>
</head>
<body>
  <chart-element class="chart"></chart-element>

  <script src="./index.js" type="module"></script>
  <script src="./debug.js" type="module"></script>
  
  <script src="/src/worker/storage.js"></script>
  <script src="/src/worker/the-api.js"></script>
  <script src="/src/worker/manager.js"></script>

  <script>
    (async () => {

    const storage = new MyStorage({ dbName: 'weather' });
    const api = theWeatherApi;
    const manager = new WeatherManager({ storage, api });


    const a = await manager.getPrecipitation('1990-01', '1999-01');

    const ys = a.map(x => x.v);

    const cmp = document.querySelector('.chart');

    cmp.setRenderData(ys);

    })()
  </script>

</body>
</html>